.Weather {
  color: white;
  background-color: #b1c3e6;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 680px;
  border-radius: 10px;
}
.Weather li {
  list-style: none;
}
.Weather form {
  padding: 20px;
}
.Weather canvas {
  display: block;
  margin: auto;
}
.Weather .unit {
  font-size: 16px;
}
.Weather p {
  font-size: 20px;
  margin: 0;
}
